<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to "Settings", edit_user_registration_path %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
<% end %>


<h1>Welcome#index</h1>
<h1>Hello Heroku!</h1>
<h2>test h2</h2>
<p><%= Date.today %></p>
<p>Find me in app/views/welcome/index.html.erb</p>

<%= link_to '一行掲示板へ' ,articles_path , class: 'btn btn-primary'%>